*{
  
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
   
    }
    body{
      display: flex;
      flex-direction: column;
      background-image: url("../imagem/fundo.png");
      background-size: cover;  
  }
  #mae{
    width: 1500px;
    height: 1700px;
    background-color:white;
    background-image: url("../imagem/fundo2.png");
    font-family: 'Roboto', sans-serif;
  }
  
  #nomes, #titulo{
    color: white;
  }


  #mae2{
    width: 1500px;
    min-height: 990px;
    background-image: url("../imagem/fundo2.png");
    background-color:white;
    font-family: 'Roboto', sans-serif;
  }
  #mae3{
    width: 1500px;
    min-height: 500px;
    background-image: url("../imagem/fundo2.png");
    background-color:white;
    font-family: 'Roboto', sans-serif;
  }
  
  #mae4{
    width: 1500px;
    height: 1400px;
    background-image: url("../imagem/fundo2.png");
    background-color:white;
    font-family: 'Roboto', sans-serif;
  }
  
  #mae5{
    width: 1500px;
    min-height: 550px;
    background-image: url("../imagem/fundo2.png");
    background-color:white;
    font-family: 'Roboto', sans-serif;
  }


  #login-container {
    background-color: rgb(228, 229, 255);
    font-family: 'Roboto', sans-serif ;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    min-height: 65%;
    padding: 20px 30px;
    margin-top: 5vh;
    border-radius: 10px;
    text-align: center;
  }
  
  .content-table {
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align:center;
    font-weight: bold;
  
  }
  
  .content-table th{
    width: 1000px;
    
    text-align: center;
    vertical-align: middle;
  }
  
  .content-table td {
    width: 1050px;
    height: 27%;
    text-align:center;
    background-color: rgb(204, 200, 253);
    vertical-align: middle;
  }
  
  .content-table tbody tr {
    border-bottom: 5px 5px solid #e9ddff;
    
    /*float: left;*/
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  input:focus {
    border-bottom: 2px solid #08558B;
  }
  
  #forgot-pass {
    display: block;
    text-align: right;
  }
  
  #pesquisa{
    background-color: rgb(204, 200, 253);
    border-radius: 5px;
    padding-top: 20px;
  }
  
  input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 3px;
    cursor: pointer;
    color: #FFF;
    background-color: #08558B;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #1B223C;
    transition: .5s;
  }
  
  #camada1{
    width: 1150px;
    background-color: white;
    background-image: url("../imagem/fundo5.jpg");
    height: 140px;
    border-radius: 5px;
  }
  h2{
    background-color: rgb(255, 255, 255);
    background-image: url("../imagem/fundoclaro.jpg");
  }
  #user{
    width: 150px;
    height: 120px;
    float: left;
    margin-left: 15px;
  }
  
  #camada_especial2{
    width: 1150px;
    height: 260px;
    background-color: rgb(204, 200, 253);
  }
  
  #texto_imagem1 {
    width: 400px;
    height: 240px;
    background-color: rgb(255, 255, 255);
    background-image: url("../imagem/fundoclaro.jpg");
    float: left;
    text-align:center;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(160, 160, 160);
    font-family: 'Roboto', sans-serif;
  
  }
  
  #texto_imagem2{
    width: 730px;
    height: 240px;
    background-color: white;
    background-image: url("../imagem/fundoclaro.jpg");
    float: left;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(160, 160, 160);
    font-family: 'Roboto', sans-serif;
  }
  
  #camada_especial{
    width: 1150px;
    height: 460px;
    background-color: rgb(204, 200, 253);
  }
  
  #interna1{
    width: 370px;
    background-color: white;
  }
  
  #interna2{
    width: 370px;
    background-color: white;
    background-image: url("../imagem/fundoclaro.jpg");
  }
  
  #text_imag{
    width: 376px;
    background-color: white;
    background-image: url("../imagem/fundoclaro.jpg");
    float: left;
    object-fit: cover;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(160, 160, 160);
    font-family: 'Roboto', sans-serif;
  }
  
  #camada3 {
    width: 1140px;
    background-color:white;
    height: 90px;
    font-size: 14px;
    background-image: url("../imagem/fundo5.jpg");
    border-radius: 5px;
  }
  
  h2{
    font-size: 24px;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 15px;
  }
  
  a{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  a.um:link,a.um:visited{
    background-color:rgb(204, 200, 253);
    color: white;
    border: 2px solid black;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  a.um:hover{
    background-color: rgb(90, 90, 212);
    color: white;
    text-decoration: underline;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
  }
  a.um:active{
    background-color: #557aed;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  a.dois:link,a.dois:visited{
    color: black;
    text-decoration:none;
    background-color: white;
    /*background-image: url("../imagem/fundo5.jpg");*/
    font-family: 'Roboto', sans-serif;
  }
  a.dois:hover{
    color: #59a9f7;
    text-decoration: underline;
    background-color: white;
   /* background-image: url("../imagem/fundo5.jpg");*/
    font-family: 'Roboto', sans-serif;
  }
  a.dois:active{
    color: white;
    text-decoration: none;
    background-color: #59a9f7;
    /*background-image: url("../imagem/fundo5.jpg");*/
    font-family: 'Roboto', sans-serif;
  }
  a.tres:link,a.tres:visited{
    color: black;
    text-decoration: none;
    background-color: white;
    background-image: url("../imagem/fundo5.jpg");
    font-family: 'Roboto', sans-serif;
  }
  a.tres:hover{  
    color: black;
    text-decoration: underline;
    background-color: white;
    background-image: url("../imagem/fundo5.png");
    font-family: 'Roboto', sans-serif;
  }
  a.tres:active{
    color: white;
    text-decoration: none;
    background-image: url("../imagem/fundo5.jpg");
    font-family: 'Roboto', sans-serif;
  }
  
  body{background-color: white;}
  a.quatro:link, a.quatro:visited, a.quatro:active{
      color: black;
      text-decoration: none;
      background-color: white;
      background-image: url("../imagem/fundoclaro.jpg");
      font-family: 'Roboto', sans-serif;
  }
  a.quatro:hover{
      color: white;
      text-decoration: none;
      background-color:#59a9f7;
      font-family: 'Roboto', sans-serif;
      
  }
  
  #camada_especial3{
    width: 1150px;
    height: 500px;
    background-color: rgb(204, 200, 253);
    
  }
  
  #info{
    padding: 25px;
    width: 380px;
    height: 210px;
    text-align: center;
    
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
  }

  #comprar{
    text-align: center;
  }
  
  #texto_produto1 {
    width: 100%;
    height: 27%;
    background-color: rgb(255, 255, 255);
    background-image: url("../imagem/bunito.jpg");
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(101, 100, 139);
    font-family: 'Roboto', sans-serif;
  
  }
  
  
  #devs1 {
    width: 185px;
    height: 155px;
    background-color: rgb(255, 255, 255);
    background-image: url("../imagem/fundoclaro.jpg");
    float: left;
    text-align:center;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(160, 160, 160);
    margin-left: 5px;
  
  
  }
  
  #devs2{
    width: 390px;
    height: 155px;
    background-color: white;
    background-image: url("../imagem/fundoclaro.jpg");
    float: left;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: -5px 5px 13px rgb(160, 160, 160);
  }
  
  #camada_especial4{
    width: 590px;
    height: 910px;
    background-color: rgb(204, 200, 253);
    border-radius: 8px;
  }
  
  
  
  section{
    background: white;
    background-image: url("../imagem/fundoclaro.jpg");
    color: #101422;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 10px rgb(43, 42, 42);
  }
  
  footer{
    text-align: center;
    color:white;
    font-style: italic;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
      
    margin: left 5px;;
  }
  
  #login{
   
      border-radius: 10px;
      padding: 15px;
      
      margin: left 5px;;
  }