* {
    font-family: 'Roboto', sans-serif;
  }
  
  .content-table {
    border-collapse: separate;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
  }

  #pesquisa{
    height: 70px;
    width: 70%;
    float: left;
  }
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align:center;
    font-weight: bold;

  }
  
  .content-table th{
    width: 400px;
    
    text-align: center;
    vertical-align: middle;
  }

  .content-table td {
    width: 400px;
    max-width: 210px;
    text-align:center;
    vertical-align: middle;
    font-weight: bold;
    
  }
  
  .content-table tbody tr {
    border-bottom: 0px solid #dddddd;
  }

  /*aaaaaaaaa*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
    color: #323232;
    border: none;

  }
  
  body {
    background-image: url("../imagem/fundo_cadas.jpg");
    background-size: cover;
    background-position-y: -200px;
    font-family: 'Roboto', sans-serif ;
  }
  
  textarea:focus, input:focus{
    outline: none;
  }
  
  a {
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; 
  }
  
  a:hover {
    color: #08558B;
  }
  
  /* container login */
  #login-container {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif ;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    /*text-align: center;*/
  }
  
  /* formulário */
  form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  /*
  label, input {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }
  */
  label {
    font-weight: bold;
    font-size: .8rem;
  }
  
  input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  input:focus {
    border-bottom: 2px solid #08558B;
  }
  
  #forgot-pass {
    display: block;
    text-align: right;
  }
  
  input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #08558B;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #1B223C;
    transition: .5s;
  }



  h1{
    text-align: center;
  }






